---
layout: default
---

<!DOCTYPE html>
<html>
	{% include head.html %}
	<body> 	
		<div id="landing" class="landing"> 
			<div class="logo">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
					<path stroke-miterlimit="10" d="M123.2,240.2l5.7,6.6H84.7,c-4.7-5.5-6.4-11.3-7.7-19.3c-1.3-8-0.6-17.4-0.6-25.9v-24.3c0-14.3-5.6-25.1-14-33.8c-8.4-8.8-21-12.3-35.1-12.3H6.2l104-80.9,c0.1,1.7,0.2,2.6,0.2,4.4c0,13.6-3.4,25.5-10.5,35.6c-7.1,10.1-17.2,18.1-30.8,24.1c14.6,4.7,25.6,12.4,32,23.1,c6.4,10.6,10.7,23.8,10.7,39.5v25c0,8.3,0.5,15.7,2.4,22.3C115.7,230,119.8,236.3,123.2,240.2z M262.6,212.6,c-8.1,7-19,10.5-32.6,10.5c-13.2,0-23.7-3.5-31.5-10.5c-7.8-7-12.2-17.5-12.2-31.4v-90l-32.7-40.5v130.6c0,21.9,7.1,38.8,21.2,50.7,c14.1,11.8,32.5,17.8,55.3,17.8c23.2,0,42-5.9,56.4-17.7c2.8-2.3,5.3-4.7,7.5-7.4l-21.6-26.8C270.2,203.9,267,208.8,262.6,212.6z"/>
				</svg>
			</div>
		</div>
		<div class="subtitle">
			<h1 id="typed"></h1>
		</div>

		<nav>
			<ul>
				<li class="work">
					<a id="work" rel="modal:close">
						<span>Work</span>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 875.4 219.7" enable-background="new 0 0 875.4 219.7" xml:space="preserve">
							<path d="M0,102.1V82h202.4v20.1h-85.7c-0.6,24.9-3.3,43.5-8.2,55.6c-4.9,12.2-12.5,23.1-22.8,32.8c-12.8,10.9-30.4,20.7-52.9,29.2,c-2.4-6.1-4.3-10.6-5.5-13.7l-7.3-9.1c20.7-6.1,35.9-12.8,45.6-20.1c9.1-6.7,16.1-15.5,21-26.4c3-9.1,5.2-25.2,6.4-48.3H0z M32.8,49.2v-21h128.5v21H32.8z M165.9,29.2l10.9-10.9c7.9,7.9,15.2,15.8,21.9,23.7l-10.9,10C184.7,48.3,177.5,40.7,165.9,29.2z M184.1,11.9l10.9-10c9.7,9.7,17,17.3,21.9,22.8l-11.9,10.9C196,24.6,189,16.7,184.1,11.9z"/>
							<path d="M350.8,71.1V20.1h23.7v51.1h49.2v20.1h-49.2c-1.2,28.6-3.3,48.3-6.4,59.3c-4.3,14.6-12.2,26.8-23.7,36.5,c-16.4,14-38.3,24-65.6,30.1c-3-7.3-7.3-14.9-12.8-22.8c24.3-3.6,42.2-9.4,53.8-17.3c11.5-7.9,19.4-17.3,23.7-28.3,c4.9-12.8,7.3-31.9,7.3-57.4h-56.5v53.8h-23.7V91.2H225V71.1h45.6V27.3h23.7v43.8H350.8z M381.8,31.9L392.7,21,c6.1,4.9,14.3,12.5,24.6,22.8l-10.9,11.9C392.4,41.6,384.2,33.7,381.8,31.9z M413.7,0l24.6,23.7l-11.9,10.9,c-5.5-5.5-13.7-13.1-24.6-22.8L413.7,0z"/>
							<path d="M592.1,67.5L573,84.8v129.4h-24.6V103.9c-8.5,7.3-22.8,17-42.8,29.2c-18.2,10.3-32.2,17.6-41.9,21.9,c-3-8.5-7-15.8-11.9-21.9c21.9-9.1,41-19.1,57.4-30.1c15.2-9.1,31.6-21.6,49.2-37.4c15.8-14,31.9-31,48.3-51.1l20.1,17.3,L592.1,67.5z"/>
							<path d="M858.1,64.7c1.8,3,4.2,6.1,7.3,9.1c1.8,2.4,5.2,5.2,10,8.2c-20.1,24.3-35.6,41.3-46.5,51.1c-14.6,13.4-31.9,26.8-52,40.1,c-20.7,12.8-44.4,25.2-71.1,37.4l-12.8-25.5c20.7-6.7,35.9-12.8,45.6-18.2c20.7-10.9,35.6-19.7,44.7-26.4,c14-10.3,26.7-21.3,38.3-32.8C835,94.2,847.2,79.9,858.1,64.7z M763.3,65.6l-16.4,19.1c-13.4-12.2-22.5-20.1-27.3-23.7,c-1.2-1.2-3.3-2.9-6.4-5c-3-2.1-6.4-4.4-10-6.8c-3.6-2.4-6.7-4.6-9.1-6.4l14.6-18.2c6.7,3.6,12.6,7.3,17.8,10.9,c5.2,3.6,8.7,6.1,10.5,7.3C749,52.6,757.8,60.2,763.3,65.6z"/>
						</svg>
					</a>
				</li>
			</ul>
		</nav>

		<div id="work-section" class="work-section blocks">
			<section class="work-section block one">
				<div id="index-gall" class="index-gall container">
					{% for post in site.categories.portfolio %}
						<div id="{{ post.port-id }}" class="work-section-bg" style="background-image:url({{ post.img-background }})"></div>
					{% endfor %}
					<div id="close-modal"></div>
					<div class="item-container">
						{% for post in site.categories.portfolio %}
							<div id="{{ post.port-id }}" class="item w{{ post.w-thumb }}">
								<!-- <a href="{{ post.url | prepend: site.baseurl }}" rel="modal:open" style="background-image:url({{ post.thumb }});"></a> -->
								<a class="content" href="{{ post.url | prepend: site.baseurl }}" rel="modal:open">
									<div class="title">{{ post.title }}</div>
									<div class="desc">{{ post.subtitle }}</div>
									<div class="background-img" style="background-image:url({{ post.img-background }});"></div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</div>

	
		

		{% include footer.html %}

		<section id="jSplash">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
				<path d="M262.9,213c-8.2,7.1-19.2,10.6-33,10.6c-13.3,0-23.8-3.6-31.7-10.6c-8.2-7.3-12.2-18-12.2-31.8V91.4l-32-39.3v129.3,c0,21.7,7,38.6,21,50.3c14,11.7,32.4,17.6,55,17.6c23,0,41.9-5.9,56.1-17.6c2.6-2.1,5-4.5,7.2-7l-20.8-25.8,C270.4,204.6,267.2,209.3,262.9,213z"/>
				<path d="M113.5,224.3c-1.6-5.9-2.5-12.8-2.5-22.4v-25c0-14.3-3.5-27.5-10.5-39.2c-6.2-10.3-16.8-18-31.7-22.9l-1.2-0.4l1.2-0.5,C82.2,108,92.2,100.2,99.4,90c6.9-9.8,10.4-21.7,10.4-35.3c0-1.2-0.1-2-0.1-2.9c0-0.2,0-0.2,0-0.4L7.6,131h19.6,c15.6,0,27.7,4,35.6,12.3c9.5,9.9,14.2,20.9,14.2,34v24.3c0,2.2-0.1,4.5-0.2,6.7c-0.1,6.5-0.3,13.1,0.7,19c1.3,8,2.9,13.8,7.4,18.8,h42.9l-5-5.6C119.6,236.7,115.2,230.5,113.5,224.3z"/>
				<path d="M0,0v300h300V0H0z M84.5,247l-0.1,0c-4.7-5.5-6.5-11.3-7.8-19.5c-1-6-0.8-12.7-0.6-19.3c0-2.2,0.2-4.5,0.2-6.6v-24.3,c0-12.8-4.6-23.6-13.9-33.3c-7.7-8.1-19.5-12-34.9-12H4.7l105.9-82.5l0,0.8c0,0.6,0.1,1,0.1,1.4c0.1,0.9,0.1,1.7,0.1,3,c0,13.8-3.6,25.8-10.6,35.8c-7.1,10.1-16.9,17.9-29.9,23.7c14.5,4.9,24.8,12.6,31,22.9c7.1,11.9,10.7,25.3,10.7,39.7v25,c0,9.5,0.8,16.4,2.4,22.1c1.6,5.7,5.7,11.9,9.1,15.7l6.4,7.3H84.5z M294.2,225c-2.3,2.7-4.8,5.2-7.6,7.5,c-14.4,11.8-33.5,17.8-56.7,17.8c-22.8,0-41.5-6-55.6-17.9c-14.2-11.9-21.3-29-21.3-51v-132l34,41.8v90.2c0,13.4,3.9,23.9,11.9,31,c7.7,6.9,18.1,10.4,31.1,10.4c13.5,0,24.3-3.5,32.3-10.4c4.4-3.8,7.5-8.6,9.5-14.5l0.3-0.8l22.4,27.8L294.2,225z"/>
			</svg>
		</section>

	</body>
	<script>
		var $container = $('#index-gall');
		// init
		$container.isotope({
		  // options
		  itemSelector: '.item',
		  layoutMode: 'fitRows'
		});
		// initialize Isotope after all images have loaded
		var $container = $('#index-gall').imagesLoaded( function() {
		  $container.isotope({
		    // options
		  });
		});
	</script>
	<script type="text/javascript">
		$(window).resize(function() {
		    $('section.block .container').width($(window).width() );
		    $('section.block .container').height($(window).height() );
		    $('section.block .item-container').height($(window).height() );
		});
		$(function(){
			$(window).trigger('resize'); 
		})
	</script>
	<script>
		// Activate index-gall item MORPH
		$('#index-gall').on('click', '.item', function () {
		    $(this).siblings('.morph').removeClass();
		    $(this).toggleClass('morph');
		});

		// Disable Morph
		$('nav a').click(function() {
			$('#index-gall .item').removeClass('morph');
		});
		$('a.close-modal').click(function() {
			$('#index-gall .item').removeClass('morph');
		});

		// Hide Nav on item hover
		$("#index-gall .item").hover(function() {
	 	    $("nav a").css("opacity", 0);
	 	  }, function(){
	 		$("nav a").css("opacity", 1);
	 	});

		// Hide items except hovered
	 	$('.index-gall .item').hover(
		    function() {
		        $(".index-gall .item:not(:hover)").css({"opacity":"0"});
		    },
		    function() {
		        $(".index-gall .item").css({"opacity":"1"});
		    }
		);

		// TOGGLE BACKGROUND IMAGE IN WORK SECTION ON ITEM HOVER
		{% for post in site.categories.portfolio %}
			$("#index-gall #{{ post.port-id }} .content").hover(function() {
		 	    $("#{{ post.port-id }}.work-section-bg").css("opacity", "1");  
		 	  }, function(){
		 		$("#{{ post.port-id }}.work-section-bg").css("opacity", "0");  
		 	});
		{% endfor %}

	</script>
	<script>
		// TYPED JS (Moved inside PreLoader.js)
	    // $(document).ready( function() {
	    //     $("body.loaded #typed").typed({
	    //         strings: ["HEY"],
	    //         typeSpeed: 40,
	    //         playDelay: 9900,
	    //         backDelay: 900,
	    //         loop: false,
	    //         contentType: 'html', // or text
	    //         // defaults to false for infinite loop
	    //         loopCount: false,
	    //         callback: function(){ foo(); },
	    //         resetCallback: function() { newTyped(); }
	    //     });
	    //     $(".reset").click(function(){
	    //         $("#typed").typed('reset');
	    //     });
	    // });
	    // function newTyped(){ /* A new typed object */ }
	    // function foo(){ console.log("Callback"); }
    </script>
    <script>
    	$(function() {

    		// TOGGLE ON/OFF ACTIVE CLASS ON CONTENT SECTIONS VIA NAV ITEM CLICKS
    		// TOGGLE ON/OFF ACTIVE CLASS ON NAV ITEMS
    		// REMOVE "NEGATIVE" CLASS FROM NAV ITEMS WHEN CLICK OTHER ITEMS

		  $("#contact, #work, #about, #workshop").click(function() {
		  	var $links = $("#contact, #work, #about, #workshop");
		  	var $sections = $("#work-section, #about-section, #workshop-section, #contact-section");
		  	$links.not($(this)).removeClass('active');
		  	$(this).addClass('active');
		  	$sections.not('#'+$(this).attr('id')+"-section").removeClass('active')
		  	$sections.filter('#'+$(this).attr('id')+'-section').addClass('active')

		  	// Negative
		  	if($(this).is('#about')){
		  		$links.addClass('negative');
		  	}
		  	else{
		  		$links.removeClass('negative');
		  	}

		  	// Hide landing dialogue
		  	$('body >.subtitle').addClass('fade-out');

		  });
		});
    </script>
	<script>
	$(document).ready( function() {
		var timer;	//timer for splash screen
		
		//navigation swap
		$('#navigation a').on('click', function() {
			if( !$(this).hasClass('btn-main') ) {
				$('#navigation a')
				.toggleClass('btn-secondary')
				.toggleClass('btn-main');
				
				var tar = $(this).attr('href');
				$('.holder').fadeOut(500, function() {
					$(tar).fadeIn(500);
				});
			}
			return false;
		});
		$('#set2').hide();
		$('#header').css('top', '-100px');
		$('#footer').css('bottom', '-100px');
		$('#wrapper').hide();
		
		//calling jPreLoader
		$('body').jpreLoader({
			splashID: "#jSplash",
			// loaderVPos: '70%',
			autoClose: true,
			// closeBtnText: "Let's Begin!",
			splashFunction: function() {  
				//passing Splash Screen script to jPreLoader
				$('#jSplash').children('section').not('.selected').hide();
				$('#jSplash').hide().fadeIn(0);
				
				timer = setInterval(function() {
					splashRotator();
				}, 4000);
			}
		}, function() {	//callback function
			clearInterval(timer);
			$('#footer')
			.animate({"bottom":0}, 500);
			$('#header')
			.animate({"top":0}, 800, function() {
				$('#wrapper').fadeIn(1000);
			});
		});
		
		//create splash screen animation
		function splashRotator(){
			var cur = $('#jSplash').children('.selected');
			var next = $(cur).next();
			
			if($(next).length != 0) {
				$(next).addClass('selected');
			} else {
				$('#jSplash').children('section:first-child').addClass('selected');
				next = $('#jSplash').children('section:first-child');
			}
				
			$(cur).removeClass('selected').fadeOut(800, function() {
				$(next).fadeIn(800);
			});
		}
	});
	</script>
	<script src="{{ "/js/parallax.min.js" | prepend: site.baseurl }}"></script>
	<script>
		var scene = document.getElementById('scene');
		var parallax = new Parallax(scene, {
		  calibrateX: false,
		  calibrateY: true,
		  invertX: false,
		  invertY: false,
		  limitX: false,
		  limitY: false,
		  scalarX: 8,
		  scalarY: 8,
		  frictionX: 0.2,
		  frictionY: 0.8,
		  originX: 0.0,
		  originY: 1.0
		});
	</script>
</html>












