---
layout: default
---

<div class="modal-header">
    {% if page.title %}<h1>{{ page.title }}</h1>{{ content }}{% endif %}
</div>

<div id="modal" class="modal js-masonry" data-masonry-options='{ "columnWidth": 300, "itemSelector": ".item" }'>
    <div class="item" style="width:1px;height:1px;background:#000;padding:0;"></div>
    {% if page.img-1 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-1 }}"/></div>{% endif %}
    {% if page.img-2 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-2 }}"/></div>{% endif %}
    {% if page.img-3 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-3 }}"/></div>{% endif %}
    {% if page.img-4 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-4 }}"/></div>{% endif %}
    {% if page.img-5 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-5 }}"/></div>{% endif %}
    {% if page.img-6 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-6 }}"/></div>{% endif %}
    {% if page.img-7 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-7 }}"/></div>{% endif %}
    {% if page.img-8 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-8 }}"/></div>{% endif %}
    {% if page.img-9 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-9 }}"/></div>{% endif %}
    {% if page.img-10 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-10 }}"/></div>{% endif %}
    {% if page.img-11 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-11 }}"/></div>{% endif %}
    {% if page.img-12 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-12 }}"/></div>{% endif %}
    {% if page.img-13 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-13 }}"/></div>{% endif %}
    {% if page.img-14 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-14 }}"/></div>{% endif %}
    {% if page.img-15 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-15 }}"/></div>{% endif %}
    {% if page.img-16 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-16 }}"/></div>{% endif %}
    {% if page.img-17 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-17 }}"/></div>{% endif %}
    {% if page.img-18 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-18 }}"/></div>{% endif %}
    {% if page.img-19 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-19 }}"/></div>{% endif %}
    {% if page.img-20 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-20 }}"/></div>{% endif %}
    {% if page.img-21 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-21 }}"/></div>{% endif %}
    {% if page.img-22 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-22 }}"/></div>{% endif %}
    {% if page.img-23 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-23 }}"/></div>{% endif %}
    {% if page.img-24 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-24 }}"/></div>{% endif %}
    {% if page.img-25 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-25 }}"/></div>{% endif %}
    {% if page.img-26 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-26 }}"/></div>{% endif %}
    {% if page.img-27 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-27 }}"/></div>{% endif %}
    {% if page.img-28 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-28 }}"/></div>{% endif %}
    {% if page.img-29 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-29 }}"/></div>{% endif %}
    {% if page.img-30 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-30 }}"/></div>{% endif %}
    {% if page.img-31 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-31 }}"/></div>{% endif %}
    {% if page.img-32 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-32 }}"/></div>{% endif %}
    {% if page.img-33 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-33 }}"/></div>{% endif %}
    {% if page.img-34 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-34 }}"/></div>{% endif %}
    {% if page.img-35 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-35 }}"/></div>{% endif %}
    {% if page.img-36 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-36 }}"/></div>{% endif %}
    {% if page.img-37 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-37 }}"/></div>{% endif %}
    {% if page.img-38 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-38 }}"/></div>{% endif %}
    {% if page.img-39 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-39 }}"/></div>{% endif %}
    {% if page.img-40 %}<div class="item w2"><img src="https://rurkatokyoseoul.files.wordpress.com/2015/{{ page.month-number }}/{{ page.img-40 }}"/></div>{% endif %}
    <div class="item w4">
        <a href="#close-modal" rel="modal:close" class="close-modal true far-bottom">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <path stroke-miterlimit="10" d="M0,0"/>
                <line stroke-width="0.9933" stroke-miterlimit="10" x1="99.7" y1="99.7" x2="0.3" y2="0.3"/>
                <line stroke-width="0.9933" stroke-miterlimit="10" x1="0.3" y1="99.7" x2="99.7" y2="0.3"/>
            </svg>
        </a>
    </div>
</div>

<a href="#close-modal" rel="modal:close" class="close-modal true">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path stroke-miterlimit="10" d="M0,0"/>
        <line stroke-miterlimit="10" x1="99.7" y1="99.7" x2="0.3" y2="0.3"/>
        <line stroke-miterlimit="10" x1="0.3" y1="99.7" x2="99.7" y2="0.3"/>
    </svg>
</a>
<a href="#close-modal" rel="modal:close" class="close-modal true bottom">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path stroke-miterlimit="10" d="M0,0"/>
        <line stroke-width="0.9933" stroke-miterlimit="10" x1="99.7" y1="99.7" x2="0.3" y2="0.3"/>
        <line stroke-width="0.9933" stroke-miterlimit="10" x1="0.3" y1="99.7" x2="99.7" y2="0.3"/>
    </svg>
</a>

<script>
    var $containerX = $('#modal').masonry();
    $containerX.imagesLoaded( function() {
      $containerX.masonry();
    });
</script>